.advantages {
  .no-margin-padding();

  min-width: 320px;

  padding-top: 5px;
  padding-bottom: 35px;

  background-color: white;
  color: black;
}

.advantages__item {
  .container ();

  margin-left: 69px;
  padding-top: 30px;
  max-width: 210px;

  text-align: left;
}

.advantages__title {
  .no-margin-padding();

  font-size: 18px;
}

.advantages__description {
  .no-margin-padding();

  padding-top: 11px;

  line-height: 22px;
}

@media (min-width: @tablet-width) {
  .advantages {
    .container ();

    display: flex;
    width: 671px;

    padding-top: 164px;
    padding-bottom: 66px;

    box-sizing: border-box;
    background-color: white;
  }

  .advantages__item {
    .no-margin-padding();

    text-align: center;
  }

  .advantages__item:nth-child(1) {
    max-width: 165px;
    margin-right: 100px;
    order: 1;
  }

  .advantages__item:nth-child(2) {
    width: 165px;
    order: 3;
  }

  .advantages__item:nth-child(3) {
    max-width: 165px;
    margin-right: 100px;
    order: 2;
  }

  .advantages__title {
    font-size: 21px;
  }

  .advantages__description {
    color: #333333;
  }

}
