.advantages {
  .no-margin-padding();

  min-width: 320px;

  padding-top: 5px;
  padding-bottom: 36px;

  background-color: white;
  color: black;
}

.advantages__item {
  .container ();

  padding-top: 30px;
  width: 222px;

  text-align: left;
}

.advantages__title {
  .no-margin-padding();

  position: relative;
  padding-left: 20px;

  font-size: 18px;
}

.advantages__br {
  display: none;
}

.advantages__description {
  .no-margin-padding();

  padding-top: 11px;
  padding-left: 20px;

  color: #333333;
  line-height: 22px;
}

.advantages__item:nth-child(1) .advantages__title {
  margin-top: 0px;
}

.advantages__item:nth-child(1) .advantages__description {
  width: 230px;

  margin-top: 3px;
}

.advantages__item:nth-child(2) .advantages__title {
  margin-top: -5px;
  margin-bottom: 3px;
}

.advantages__item:nth-child(3) .advantages__title {
  margin-top: -5px;
  margin-bottom: 3px;
}

.advantages__item:nth-child(1) .advantages__title::before {
  content: "";
  position: absolute;
  width: 37px;
  height: 36px;
  top: 0;
  left: 0%;

  margin-top: -9px;
  margin-left: -27px;

  background-image: url(../img/icon-house.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.advantages__item:nth-child(2) .advantages__title::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 38px;
  top: 0;
  left: 0%;
  margin-top: -12px;
  margin-left: -25px;

  background-image: url(../img/icon-gift.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.advantages__item:nth-child(3) .advantages__title::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 35px;
  top: 0;
  left: 0%;
  margin-top: -5px;
  margin-left: -31px;

  background-image: url(../img/icon-burger.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

@media (min-width: @tablet-width) {
  .advantages {
    .container ();

    display: flex;
    width: 671px;

    padding-top: 150px;
    padding-bottom: 60px;

    box-sizing: border-box;
    background-color: white;
  }

  .advantages__item {
    .no-margin-padding();

    padding-top: 10px;
    text-align: center;
  }

  .advantages__br {
    display: inline;
  }

  .advantages__description {
    line-height: 21px;
  }

  .advantages__item:nth-child(1) {
    width: 165px;
    margin-right: 100px;
    order: 1;
  }

  .advantages__item:nth-child(1) .advantages__title {
    margin-top: -2px;
    margin-left: -15px;
  }

  .advantages__item:nth-child(1) .advantages__description {
    .no-margin-padding();

    padding-top: 20px;

    width: 155px;
  }

  .advantages__item:nth-child(2) .advantages__title {
    margin-top: -2px;
    margin-left: -20px;
  }

  .advantages__item:nth-child(2) .advantages__description {
    .no-margin-padding();

    padding-top: 17px;
    margin-left: -5px;
    width: 155px;
  }

  .advantages__item:nth-child(3) .advantages__title {
    margin-top: -2px;
    margin-left: -15px;
  }

  .advantages__item:nth-child(3) .advantages__description {
    .no-margin-padding();

    width: 155px;
    padding-top: 17px;
    margin-left: 5px;
  }

  .advantages__item:nth-child(1) .advantages__title::before {
    content: "";
    position: absolute;
    width: 75px;
    height: 72px;
    top: 0;
    left: 50%;
    margin-top: -100px;
    margin-left: -28px;
  }

  .advantages__item:nth-child(2) {
    width: 165px;
    order: 3;
  }

  .advantages__item:nth-child(2) .advantages__title::before {
    content: "";
    position: absolute;
    width: 77px;
    height: 74px;
    top: 0;
    left: 50%;
    margin-top: -100px;
    margin-left: -22px;
  }

  .advantages__item:nth-child(3) {
    width: 165px;
    margin-right: 100px;
    order: 2;
  }

  .advantages__item:nth-child(3) .advantages__title::before {
    content: "";
    position: absolute;
    width: 75px;
    height: 75px;
    top: 0;
    left: 50%;
    margin-top: -95px;
    margin-left: -30px;
  }

  .advantages__title {
    font-size: 21px;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    .container ();

    display: flex;
    width: 1044px;

    padding-top: 160px;
    padding-bottom: 80px;

    box-sizing: border-box;
    background-color: white;
  }

  .advantages__item {
    .no-margin-padding();

    text-align: center;
  }

  .advantages__item:nth-child(1) {
    .no-margin-padding();

    margin-right: 205px;

    order: 1;
  }

  .advantages__item:nth-child(1) .advantages__title {
    margin-left: 55px;
  }

  .advantages__item:nth-child(1) .advantages__description {
    .no-margin-padding();

    padding-top: 20px;
    margin-left: -13px;
    width: 265px;
  }

  .advantages__item:nth-child(2) .advantages__title {
    margin-left: 75px;
  }

  .advantages__item:nth-child(2) .advantages__description {
    .no-margin-padding();

    padding-top: 20px;
    margin-left: 22px;
    width: 245px;
  }

  .advantages__item:nth-child(3) .advantages__title {
    margin-left: 115px;
  }

  .advantages__item:nth-child(3) .advantages__description {
    .no-margin-padding();

    padding-top: 17px;
    width: 305px;
  }

  .advantages__item:nth-child(3) {
    .no-margin-padding();

    margin-right: 242px;

    order: 2;
  }

  .advantages__item:nth-child(2) .advantages__title::before {
    margin-left: -8px;
  }

  .advantages__item:nth-child(3) .advantages__title::before {
    margin-left: -25px;
  }

}
