.advantages {
  .no-margin-padding();
  background-color: @white;
  color: @black;
}

.advantages__title {
  font-size: 18px;
  .no-margin-padding();
}

.advantages__description {
  .no-margin-padding();
}
