.booking {
  padding-top: 33px;
}

.booking__title {
  .no-margin-padding();
  .container ();

  max-width: 265px;

  padding-bottom: 20px;

  font-size: 21px;
}

.booking__description {
  .no-margin-padding();
  .container ();

  max-width: 265px;

  padding-bottom: 35px;
  line-height: 24px;
}

.booking__button {
  .font ();

  display: block;
  max-width: 285px;
  min-height: 58px;
  margin: 0px auto;
  margin-bottom: 49px;

  border: none;
  outline: none;
  box-shadow: none;
  color: white;
  background-color: @light-grey-blue;
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 58px;
}

.booking__map-image {
  .no-margin-padding();
  .container();

  position: relative;
  width: 320px;
  min-height: 350px;

  background-image: url(../img/bg-map-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-color: lightgrey;
}

.booking__map-image::before {
  content: "";
  position: absolute;
  width: 27px;
  min-height: 27px;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;

  background-image: url(../img/icon-map-marker.svg);
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-color: lightgrey;
}

@media (min-width: @tablet-width) {
  .booking__title {
    margin-top: 20px;
    margin-bottom: 11px;
    margin-left: 257px;

    font-size: 30px;
  }

  .booking__description {
    max-width: 440px;

    margin-bottom: 9px;
  }

  .booking__button{
    max-width: 458px;

    margin-bottom: 57px;
  }

  .booking__map-image {
    width: 768px;
    height: 350px;

    background-image: url(../img/bg-map-tablet@1x.jpg);
  }
}

@media (min-width: @desktop-width) {
  .booking__title {
    margin-top: 17px;

    font-size: 30px;
  }

  .booking__description {
    max-width: 440px;

    margin-top: 7px;
    margin-bottom: 17px;
  }

  .booking__button{
    margin-bottom: 65px;
  }

  .booking__map-image {
    width: 1200px;
  }

  .booking__map-image {
    width: 1200px;

    background-image: url(../img/bg-map-desktop@1x.jpg);
  }
}
