.booking {
  .container ();

  width: 320px;
}

.booking-wrapper {
  .container ();

  width: 280px;
  padding-top: 31px;
}

.booking__title {
  .no-margin-padding();

  padding-bottom: 20px;

  font-size: 21px;
}

.booking__description {
  .no-margin-padding();

  padding-bottom: 35px;
  line-height: 24px;
}

.booking__button {
  .font ();

  display: block;
  min-height: 58px;
  margin-bottom: 50px;
  padding-right: 10px;
  padding-left: 10px;

  border: none;
  outline: none;
  box-shadow: none;
  color: white;
  background-color: @light-grey-blue;
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 58px;
}

.booking__button:hover {
  background-color: #669ec0;
}

.booking__button:focus,
.booking__button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.booking__button:disabled {
  background-color: @bg-input-hover;
}

.booking__map-image {
  .no-margin-padding();

  background-color: lightgrey;
  vertical-align: bottom;
}

.booking__map {
  position: relative;
}

.booking__map::before {
  content: "";
  position: absolute;
  width: 27px;
  min-height: 27px;
  left: 50%;
  margin-top: 160px;
  margin-left: -15px;

  background-image: url(../img/icon-map-marker.svg);
}

@media (min-width: @tablet-width) {
  .booking {
    width: 768px;
  }

  .booking-wrapper {
    .container ();

    width: 458px;
    padding-top: 35px;
  }

  .booking__title {
    margin-top: 20px;
    margin-bottom: 11px;

    font-size: 30px;
  }

  .booking__description {
    .no-margin-padding();

    width: 440px;
    padding-bottom: 42px;
  }

  .booking__button{
    width: 438px;

    margin-bottom: 57px;
  }

  .booking__map-image {
    width: 768px;
    height: 350px;
  }

  .booking__map::before {
    margin-top: 165px;
  }
}

@media (min-width: @desktop-width) {
  .booking {
    width: 1200px;
  }

  .booking__title {
    margin-top: 22px;

    font-size: 30px;
  }

  .booking__description {
    width: 440px;

    margin-top: 7px;
    margin-bottom: 7px;
  }

  .booking__button{
    margin-bottom: 65px;
  }

  .booking__map-image {
    width: 1200px;
  }

  .booking__map::before {
    margin-top: 162px;
  }
}
