.features {
  .no-margin-padding();
}

.features__title {
  font-size: 18px;
}

.features__item:nth-child(1) {
  background:@light-grey-blue;
}

.features__item:nth-child(2) {
  background:@light-grey-blue;
}

.features__item:nth-child(3) {
  background-color: @bg-features;
}

.features__item:nth-child(4) {
  background-color: @bg-features;
}

.features__item:nth-child(5) {
  background-color: @bg-features;
}



