.form-contacts {
  padding-left: 20px;
  padding-right: 20px;
}

.form-contacts__wrapper {
  .container ();

  width: 280px;

  display: flex;
  justify-content: space-between;

  padding-bottom: 20px;
}

.form-contacts__fieldset {
  .no-margin-padding();
  .container ();

  padding-bottom: 15px;

  border: none;
}

.form-contacts__title {
  width: 250px;
  padding-bottom: 20px;

  font-weight: bold;
  font-size: 18px;
}

.form-contacts__title::before {
  content: "";
  position: absolute;
  width: 320px;
  height: 2px;
  background-color: @bg-input;
  left: 50%;
  margin-left: -160px;
  margin-top: -20px;
}

.form-contacts__label {
  position: relative;
  line-height: 58px;
}

.form-contacts__input {
  width: 190px;
  height: 58px;

  padding-left: 10px;
  padding-right: 10px;

  font-size: 14px;
  box-sizing: border-box;

  background-color: @bg-input;
  border: 4px solid @bg-input;
}

.form-contacts__input:hover {
  background-color: @bg-input-hover;
  border-color: @bg-input-hover;
}

.form-contacts__input:focus,
.form-contacts__input:active {
  outline: none;
  padding-left: 10px;
  box-sizing: border-box;
  background-color: white;
  border: 4px solid #e5e5e5;
}

.form-contacts__input--name {
  width: 230px;
}

.form-contacts__icon {
  position: relative;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
}

.form-contacts__text {
  width: 280px;
  height: 150px;
  padding-top: 12px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  font-size: 14px;

  background-color: @bg-input;
  border: 4px solid @bg-input;
  resize: none;
}

.form-contacts__text:hover {
  background-color: @bg-input-hover;
}

.form-contacts__text:focus,
.form-contacts__text:active {
  outline: none;
  padding-top: 12px;
  background-color: white;
  border: 4px solid #e5e5e5;
}

.form-contacts__input::placeholder {
  padding-left: 5px;
  padding-right: 23px;
  font-weight: bold;
  font-size: 10px;
  color: black;
}

.form-contacts__text::placeholder {
  font-size: 17.5px;
  font-weight: 700;
  padding-left: 5px;
  color: black;
  line-height: 26px;
  letter-spacing: -0.6px;
}

.form-contacts__button {
  .button-reset();
  .font ();

  display: block;
  width: 280px;
  min-height: 58px;
  margin: 0px auto;
  margin-top: 35px;
  margin-bottom: 10px;

  color: white;
  background-color: @light-grey-blue;
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 58px;
}

.form-contacts__button:hover {
  background-color: #669ec0;
}

.form-contacts__button:focus,
.form-contacts__button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.form-contacts__button:disabled {
  background-color: @bg-input-hover;
}

.form-contacts__fieldset:nth-child(1) {
  padding-bottom: 20px;
}

.form-contacts__fieldset:nth-child(1) .form-contacts__title {
  letter-spacing: 0.4px;
}

.form-contacts__fieldset:nth-child(1) .form-contacts__input {
  box-sizing: border-box;

  padding-left: 10px;
  padding-top: 6px;
}

.form-contacts__input--family {
  width: 195px;
}

.form-contacts__fieldset:nth-child(1) .form-contacts__input::placeholder,
.form-contacts__fieldset:nth-child(2) .form-contacts__input::placeholder {
  font-size: 16px;
}

.form-contacts__fieldset:nth-child(2) {
  .no-margin-padding();

  padding-bottom: 53px;
  margin-left: 3px;
}

.form-contacts__fieldset:nth-child(2) .form-contacts__wrapper-outside {
  .container ();

  width: 280px;
  text-align: left;
}

.form-contacts__fieldset:nth-child(2) .form-contacts__title {
  .no-margin-padding();
  .container ();

  width: 250px;
  padding-top: 5px;
  padding-bottom: 3px;
  letter-spacing: 0.15px;
}

.form-contacts__label--phone,
.form-contacts__label--email {
  margin-left: 22px;
}

.form-contacts__input--phone {
  width: 220px;
  padding-left: 10px;
  padding-top: 1px;
  letter-spacing: -0.1px;
}

.form-contacts__input--email {
  width: 220px;
  padding-left: 10px;
  margin-top: -1px;
}

.form-contacts__input--phone:focus,
.form-contacts__input--phone:active,
.form-contacts__input--email:focus,
.form-contacts__input--email:active {
  border-right-width: 0px;
}

.form-contacts__fieldset:nth-child(2) .form-contacts__icon--phone::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -9px;
  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.form-contacts__fieldset:nth-child(2) .form-contacts__icon--email::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 12px;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -10px;
  background-image: url(../img/icon-mail.svg);
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.form-contacts__fieldset:nth-child(2) .form-contacts__wrapper {
  .no-margin-padding();

  justify-content: flex-start;
  margin-top: -8px;
  margin-bottom: -8px;
}

.form-contacts__fieldset:nth-child(2) .form-contacts__wrapper:nth-child(2) {
    margin-bottom: -5px;
}

.form-contacts__fieldset:nth-child(3) {
  padding-bottom: 40px;
}

.form-contacts__fieldset:nth-child(3) .form-contacts__wrapper {
  justify-content: flex-start;
  padding-bottom: 10px;
}

.form-contacts__fieldset:nth-child(3) .form-contacts__input {
  width: 46px;
  height: 46px;

  margin-right: 27px;
}

.form-contacts__fieldset:nth-child(3) .form-contacts__label {
  margin-left: 77px;
  margin-top: 3px;

  font-weight: bold;
  text-transform: none;
  font-size: 18px;
  line-height: 55px;
}

.form-contacts__fieldset:nth-child(4) .form-contacts__title {
  padding-bottom: 15px;
}

.form-contacts__fieldset:nth-child(4) .form-contacts__input {
  display: none;
}

.form-contacts__fieldset:nth-child(4) .form-contacts__label {
  font-weight: bold;
  text-transform: none;
  font-size: 18px;
  line-height: 58px;
  margin-left: 77px;
}

.form-contacts__label--park,
.form-contacts__label--bell {
  letter-spacing: 0.6px;
}

.form-contacts__label--park {
  margin-top: 3px;
}

.form-contacts__fieldset:nth-child(5) .form-contacts__title {
  padding-top: 10px;
}

.form-contacts__remark {
  display: none;
}

.form-contacts input[type="radio"],
.form-contacts__fieldset input[type="checkbox"] {
  .visually-hidden();
}

input[type="radio"] + .form-contacts__label::before {
  content: "";
  position: absolute;
  height: 56px;
  width: 56px;
  margin-left: -77px;
  background-image: url(../img/radio-off.png);
  background-repeat: no-repeat;
  cursor: pointer;
}

input[type="radio"]:checked + .form-contacts__label::before {
  content: "";
  position: absolute;
  height: 56px;
  width: 56px;
  background-image: url(../img/radio-on.png);
  background-repeat: no-repeat;
  cursor: pointer;
}

input[type="radio"]:hover + .form-contacts__label::before {
  background-image: url(../img/radio-hover-off.png);
}

input[type="radio"]:checked:hover + .form-contacts__label::before {
  background-image: url(../img/radio-hover-on.png);
}

input[type="radio"]:active + .form-contacts__label::before {
  background-image: url(../img/radio-active-off.png);
}

input[type="radio"]:checked:active + .form-contacts__label::before {
  background-image: url(../img/radio-active-on.png);
}

input[type="checkbox"] + .form-contacts__label::before {
  content: "";
  position: absolute;
  height: 56px;
  width: 56px;
  margin-left: -77px;
  background-color: #f2f2f2;
  border-radius: 5px;
  cursor: pointer;
}

input[type="checkbox"]:checked + .form-contacts__label::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 30px;
  left: 0%;
  margin-left: -60px;
  margin-top: 24px;
  background-image: url(../img/icon-tick.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

input[type="checkbox"]:hover + .form-contacts__label::before {
  background-color: #e5e5e5;
}

input[type="checkbox"]:active + .form-contacts__label::before {
  background-color: #d5d5d5;
}

input[type="checkbox"]:checked:hover + .form-contacts__label::before {
  background-color: #e5e5e5;
}

input[type="checkbox"]:checked:active + .form-contacts__label::before {
  background-color: #d5d5d5;
}

input[type="checkbox"]:checked:active + .form-contacts__label::after {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .form-contacts{
    .container ();

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 648px;
    padding: 0px;
    padding-top: 8px;
  }

  .form-contacts__title {
    width: 278px;

    font-size: 21px;
  }

  .form-contacts__wrapper {
    .no-margin-padding();
  }

  .form-contacts__label {
    .no-margin-padding();
  }

  .form-contacts__fieldset:nth-child(3) {
    padding: 0px;
    order: 0;
  }

  .form-contacts__fieldset:nth-child(3) .form-contacts__wrapper:nth-child(3) {
    margin-top: 8px;
  }

  .form-contacts__fieldset:nth-child(3) .form-contacts__wrapper:nth-child(4) {
    margin-top: 10px;
  }

  .form-contacts__fieldset:nth-child(3) .form-contacts__title {
    padding-left: 0px;
    padding-right: 10px;
    margin-bottom: 37px;
    letter-spacing: 0.1px;
  }

  .form-contacts__fieldset:nth-child(1) {
    padding: 0px;
    order: 1;
  }

  .form-contacts__fieldset:nth-child(1) .form-contacts__wrapper {
    .no-margin-padding();

    margin-left: 80px;
  }

  .form-contacts__fieldset:nth-child(1) .form-contacts__wrapper:nth-child(3) {
    margin-top: 20px;
  }

  .form-contacts__fieldset:nth-child(1) .form-contacts__wrapper:nth-child(4) {
    margin-top: 18px;
  }

  .form-contacts__fieldset:nth-child(1) .form-contacts__title {
    width: 140px;
    margin-left: 93px;
    margin-bottom: 37px;
    text-align: left;
    letter-spacing: 0.3px;
  }

  .form-contacts__fieldset:nth-child(1) .form-contacts__title::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 300px;
    background-color: @bg-input;
    left: 50%;
    margin-left: 0px;
    margin-top: 0px;
  }

  .form-contacts__fieldset:nth-child(3) .form-contacts__title::before {
    .visually-hidden();
  }

  .form-contacts__fieldset:nth-child(1) .form-contacts__input {
    width: 180px;
    padding-left: 13px;
    padding-top: 2px;
    box-sizing: border-box;
  }

  .form-contacts__fieldset:nth-child(1) .form-contacts__input--name {
    width: 215px;
    margin-bottom: 2px;
  }

  .form-contacts__fieldset:nth-child(1) .form-contacts__label {
    margin-left: 15px;
  }

  .form-contacts__fieldset:nth-child(2) {
    display: block;
    width: 648px;

    padding-bottom: 2px;
    margin-left: 0px;
    order: 2;
  }

  .form-contacts__fieldset:nth-child(2) .form-contacts__wrapper-outside {
    .no-margin-padding();
  }

  .form-contacts__fieldset:nth-child(2) .form-contacts__wrapper {
    width: 648px;
    height: 58px;
    margin-top: 5px;
    margin-left: 0px;
  }

  .form-contacts__fieldset:nth-child(2) .form-contacts__wrapper:nth-child(2) {
    margin-bottom: -2px;
  }

  .form-contacts__fieldset:nth-child(2) .form-contacts__title {
    width: 290px;
    padding-top: 63px;
    padding-bottom: 0px;
    letter-spacing: 0px;
  }

  .form-contacts__fieldset:nth-child(2) .form-contacts__title::before {
    content: "";
    position: absolute;
    width: 125px;
    height: 1px;
    background-color: @bg-input;
    left: 12%;
    margin-left: 10px;
    margin-top: 11px;
  }

  .form-contacts__fieldset:nth-child(2) .form-contacts__title::after {
    content: "";
    position: absolute;
    width: 125px;
    height: 1px;
    background-color: @bg-input;
    left: 70%;
    margin-left: 23px;
    margin-top: 12px;
  }

  .form-contacts__label--phone,
  .form-contacts__label--email {
    .no-margin-padding();

    display: block;
    width: 250px;

    margin-left: 22px;
    padding-top: 28px;
    padding-bottom: 5px;
    text-align: left;
    line-height: 20px;
  }

  .form-contacts__input--phone,
  .form-contacts__input--email {
    width: 590px;
    padding-left: 10px;
    box-sizing: border-box;
  }

  .form-contacts__icon{
    width: 58px;
  }

  .form-contacts__fieldset:nth-child(4) {
    display: block;
    width: 650px;

    padding: 0px;

    order: 3;
  }

  .form-contacts__fieldset:nth-child(4) .form-contacts__title {
    .no-margin-padding();

    width: 279px;
    margin: 0 auto;
    padding-top: 58px;
    padding-bottom: 40px;
    text-align: center;
  }

  .form-contacts__fieldset:nth-child(4) .form-contacts__title::before {
    content: "";
    position: absolute;
    width: 125px;
    height: 1px;
    background-color: @bg-input;
    left: 12%;
    margin-left: 10px;
    margin-top: 25px;
  }

  .form-contacts__fieldset:nth-child(4) .form-contacts__title::after {
    content: "";
    position: absolute;
    width: 125px;
    height: 1px;
    background-color: @bg-input;
    left: 70%;
    margin-left: 23px;
    margin-top: -2px;
  }

  .form-contacts__fieldset:nth-child(4) .form-contacts__wrapper:nth-child(1) {
    margin-bottom: 30px;
  }

  .form-contacts__fieldset:nth-child(4) .form-contacts__wrapper-outside {
    .container ();

    display: flex;
    flex-wrap: wrap;
    width: 464px;
    padding-left: 2px;
  }

  .form-contacts__fieldset:nth-child(4) .form-contacts__wrapper {
    width: 205px;
  }

  .form-contacts__fieldset:nth-child(4) .form-contacts__wrapper:nth-child(4) .form-contacts__label {
   .no-margin-padding();

   margin-left: 83px;
  }

  .form-contacts__fieldset:nth-child(4) .form-contacts__wrapper:nth-child(odd) {
    margin-right: 54px;
  }

  .form-contacts__label--park,
  .form-contacts__label--bell {
    letter-spacing: 0.15px;
  }

  .form-contacts__fieldset:nth-child(5) {
    .no-margin-padding();

    display: block;
    width: 648px;

    order: 4;
  }

  .form-contacts__fieldset:nth-child(5) .form-contacts__title {
    .no-margin-padding();

    margin: 0 auto;
    padding-top: 67px;
    padding-bottom: 60px;

    font-size: 21px;
  }

  .form-contacts__fieldset:nth-child(5) .form-contacts__title::before {
    content: "";
    position: absolute;
    width: 125px;
    height: 1px;
    background-color: @bg-input;
    left: 12%;
    margin-left: 10px;
    margin-top: 12px;
  }

  .form-contacts__fieldset:nth-child(5) .form-contacts__title::after {
    content: "";
    position: absolute;
    width: 125px;
    height: 1px;
    background-color: @bg-input;
    left: 70%;
    margin-left: 23px;
    margin-top: 12px;
  }

  .form-contacts__text {
    .no-margin-padding();

    width: 648px;
    min-height: 150px;
    padding-top: 10px;
    padding-left: 10px;
  }

  .form-contacts__text::placeholder {
    letter-spacing: -1px;
    font-size: 18px;
  }

  .form-contacts>.form-contacts__wrapper {
    display: flex;
    align-items: center;

    width: 648px;
    height: 58px;
    padding-top: 58px;

    order: 5;
  }

  .form-contacts__button {
    .no-margin-padding();

    width: 324px;

    padding-right: 10px;
  }

  .form-contacts__remark {
    position: relative;
    width: 162px;
    display: block;
    margin-right: -13px;
  }

  .form-contacts__remark::before {
    content: "*";
    position: absolute;
    color: black;
    left: 0%;
    margin-left: -12px;
    margin-top: 3px;
  }

  .form-contacts__remark::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: black;
    left: 0%;
    margin-left: -5px;
    margin-top: 14px;
  }

  .form-contacts__fieldset:nth-child(4) .form-contacts__label {
    margin-left: 84px;
  }

  input[type="checkbox"] + .form-contacts__label::before {
    margin-left: -84px;
  }

  .form-contacts__fieldset:nth-child(3) .form-contacts__label {
    margin-left: 74px;
  }

  input[type="checkbox"] + .form-contacts__label::before {
    margin-left: -84px;
  }

  input[type="checkbox"]:checked + .form-contacts__label::after {
    content: "";
    position: absolute;
    margin-left: -66px;
    margin-top: 21px;
  }
}

@media (min-width: @desktop-width) {
  .form-contacts{
    width: 951px;
  }

  .form-contacts__wrapper {
    width: 400px;
  }

  .form-contacts__title {
    padding-bottom: 20px;
  }

  .form-contacts__fieldset:nth-child(1) {
    margin: 0px;
  }

  .form-contacts__fieldset:nth-child(1) .form-contacts__title {
    margin-left: 82px;
  }

  .form-contacts__fieldset:nth-child(1) .form-contacts__label {
    margin-left: 5px;
  }

  .form-contacts__fieldset:nth-child(1) .form-contacts__input {
    width: 310px;
    padding-left: 13px;
    box-sizing: border-box;
  }

  .form-contacts__fieldset:nth-child(1) .form-contacts__input--name {
    width: 345px;
    margin-bottom: 2px;
    padding-top: 5px;
  }

  .form-contacts__label--family {
    margin-top: 3px;
  }

  .form-contacts__input--family {
    margin-top: 3px;
  }

  .form-contacts__fieldset:nth-child(3) {
    margin: 0px;
  }

  .form-contacts__fieldset:nth-child(3) .form-contacts__title {
    padding-left: 30px;
  }

  .form-contacts__input {
    width: 312px;
  }

  .form-contacts__input--name {
    width: 347px;
  }

  .form-contacts__fieldset:nth-child(2) {
    width: 955px;
  }

  .form-contacts__fieldset:nth-child(2) .form-contacts__wrapper-outside {
    display: flex;
    width: 955px;
    align-items: start;
  }

  .form-contacts__fieldset:nth-child(2) .form-contacts__title {
    width: 285px;
    padding-top: 62px;
    padding-bottom: 70px;
    letter-spacing: 0.15px;
  }

  .form-contacts__fieldset:nth-child(2) .form-contacts__title::before {
    content: "";
    position: absolute;
    width: 275px;
    height: 1px;
    background-color: @bg-input;
    left: 12%;
    margin-left: -10px;
    margin-top: 10px;
  }

  .form-contacts__fieldset:nth-child(2) .form-contacts__title::after {
    content: "";
    position: absolute;
    width: 275px;
    height: 1px;
    background-color: @bg-input;
    left: 65%;
    margin-left: 15px;
    margin-top: 10px;
  }

  .form-contacts__fieldset:nth-child(2) .form-contacts__wrapper {
    width: 315px;
  }

  .form-contacts__label--phone {
    .no-margin-padding ();

    width: 70px;
    margin-left: -5px;
    margin-right: 18px;

    line-height: 65px;
  }

  .form-contacts__label--email {
    .no-margin-padding ();

    width: 149px;
    margin-right: 20px;
    margin-left: 77px;

    line-height: 65px;
  }

  .form-contacts__input--phone {
    width: 257px;
  }

  .form-contacts__input--email {
    width: 255px;
    padding-left: 10px;
  }

  .form-contacts__icon--phone {
    width: 58px;
  }

  .form-contacts__icon--email {
    width: 58px;
  }

  .form-contacts__fieldset:nth-child(2) .form-contacts__icon--email::before {
    width: 16px;
    height: 15px;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -7px;
  }

  .form-contacts__fieldset:nth-child(2) .form-contacts__input:placeholder {
    font-size: 17px;
  }

  .form-contacts__label-phone {
    .visually-hidden();
  }

  .form-contacts__fieldset:nth-child(4) {
    width: 951px;
    margin: 0 auto;
  }

  .form-contacts__fieldset:nth-child(4) .form-contacts__title {
    padding-top: 48px;
    padding-bottom: 40px;
    text-align: center;
  }

  .form-contacts__fieldset:nth-child(4) .form-contacts__title::before {
    content: "";
    position: absolute;
    width: 275px;
    height: 1px;
    background-color: @bg-input;
    left: 12%;
    margin-left: -10px;
    margin-top: 25px;
  }

  .form-contacts__fieldset:nth-child(4) .form-contacts__title::after {
    content: "";
    position: absolute;
    width: 275px;
    height: 1px;
    background-color: @bg-input;
    left: 65%;
    margin-left: 15px;
    margin-top: 0px;
  }

  .form-contacts__fieldset:nth-child(4) .form-contacts__wrapper-outside {
    display: flex;
    width: 951px;
  }

  .form-contacts__fieldset:nth-child(4) .form-contacts__wrapper:nth-child(4n-3) {
    margin-right: 52px;
  }

  .form-contacts__fieldset:nth-child(4) .form-contacts__wrapper:nth-child(4n-2) {
    margin-right: 55px;
  }

  .form-contacts__fieldset:nth-child(4) .form-contacts__wrapper:nth-child(4n-1) {
    margin-right: 24px;
  }

  .form-contacts__fieldset:nth-child(4) .form-contacts__wrapper:nth-child(4n) {
    margin-right: 0px;
  }

  input[type="checkbox"]:nth-child(1) + .form-contacts__label{
    margin-left: 77px;
  }

  input[type="checkbox"]:checked + .form-contacts__label::before {
    margin-left: -82px;
    width: 55px;
  }

  input[type="checkbox"] + .form-contacts__label::before {
    margin-left: -81px;
    width: 55px;
  }

  .form-contacts__fieldset:nth-child(5) {
    width: 951px;
  }

  .form-contacts > .form-contacts__wrapper {
    .no-margin-padding();
    width: 951px;
    padding-top: 48px;
  }

  .form-contacts__text {
    width: 951px;
    height: 160px;
    padding-left: 7px;
  }

  .form-contacts__text::placeholder {
    letter-spacing: -1px;
  }

  .form-contacts__fieldset:nth-child(5) .form-contacts__title {
    padding-top: 35px;
    padding-bottom: 60px;
  }

  .form-contacts__fieldset:nth-child(5) .form-contacts__title::before {
    content: "";
    position: absolute;
    width: 275px;
    height: 1px;
    background-color: @bg-input;
    left: 12%;
    margin-left: -10px;
    margin-top: 12px;
  }

  .form-contacts__fieldset:nth-child(5) .form-contacts__title::after {
    content: "";
    position: absolute;
    width: 275px;
    height: 1px;
    background-color: @bg-input;
    left: 65%;
    margin-left: 15px;
    margin-top: 12px;
  }

  .form-contacts__button {
    .no-margin-padding();

    width: 480px;

    margin-left: -5px;
  }

  .form-contacts__remark {
    padding-top: 4px;
    margin-right: -15px;
  }

  .form-contacts__remark::before {
    margin-left: -10px;
    margin-top: 0px;
  }

  .form-contacts__remark::after {
    margin-left: -5px;
    margin-top: 13px;
  }
}
