.form-contacts {
  padding-left: 20px;
  padding-right: 20px;
}

.form-contacts__wrapper {
  .container ();

  width: 280px;

  display: flex;
  justify-content: space-between;

  padding-bottom: 20px;
}

.form-contacts__fieldset {
  .no-margin-padding();
  .container ();
  padding-bottom: 15px;

  border: none;
}

.form-contacts__title {
  max-width: 250px;
  padding-bottom: 20px;

  font-weight: bold;
  font-size: 18px;
}

.form-contacts__label {
  position: relative;
  line-height: 58px;
}

.form-contacts__input {
  width: 180px;
  height: 58px;

  background-color: @bg-input;
  border: none;
}

.form-contacts__input:hover {
  background-color: @bg-input-hover;
}

.form-contacts__input:focus,
.form-contacts__input:active {
  outline: none;
  background-color: white;
  border: 4px solid #e5e5e5;
}

.form-contacts__input--name {
  width: 220px;
}

.form-contacts__icon {
  position: relative;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
}

.form-contacts__text {
  width: 280px;
  height: 150px;
  padding-top: 13px;
  padding-right: 33px;
  box-sizing: border-box;

  background-color: @bg-input;
  border: none;
  resize: none;
}

.form-contacts__input::placeholder {
  padding-left: 10px;

  font-weight: bold;
  font-size: 10px;
  color: black;
}

.form-contacts__text::placeholder {
  padding-left: 18px;

  word-spacing: -4px;
  font-size: 17px;
  font-weight: 700;
  color: black;
  line-height: 26px;
}

.form-contacts__button {
  .button-reset();
  .font ();

  display: block;
  width: 280px;
  min-height: 58px;
  margin: 0px auto;
  margin-top: 35px;
  margin-bottom: 10px;

  color: white;
  background-color: @light-grey-blue;
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 58px;
}

.form-contacts__fieldset:nth-child(1) {
  padding-bottom: 20px;
}

.form-contacts__fieldset:nth-child(1) .form-contacts__input {
  box-sizing: border-box;
}

.form-contacts__fieldset:nth-child(1) .form-contacts__input::placeholder,
.form-contacts__fieldset:nth-child(2) .form-contacts__input::placeholder {
  font-size: 16px;
}

.form-contacts__fieldset:nth-child(2) {
  .no-margin-padding();
  .container ();

  width: 320px;
  padding-bottom: 53px;
}

.form-contacts__fieldset:nth-child(2) .form-contacts__wrapper-outside {
  .container ();

  width: 280px;
  text-align: left;
}

.form-contacts__fieldset:nth-child(2) .form-contacts__title {
  padding-top: 5px;
  padding-bottom: 5px;
  letter-spacing: 0.41px;
}

.form-contacts__label--phone,
.form-contacts__label--email {
  margin-left: 18px;
}

.form-contacts__input--phone,
.form-contacts__input--email {
  width: 215px;
  padding-left: 10px;
  padding-top: 0px;
}

.form-contacts__fieldset:nth-child(2) .form-contacts__icon--phone::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -9px;
  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.form-contacts__fieldset:nth-child(2) .form-contacts__icon--email::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 12px;
  top: 50%;
  left: 50%;
  margin-top: -6px;
  margin-left: -8px;
  background-image: url(../img/icon-mail.svg);
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.form-contacts__fieldset:nth-child(2) .form-contacts__wrapper {
  .no-margin-padding();

  justify-content: flex-start;
  margin-top: -8px;
  margin-bottom: -8px;
}

.form-contacts__fieldset:nth-child(3) {
  padding-bottom: 40px;
}

.form-contacts__fieldset:nth-child(3) .form-contacts__wrapper {
  justify-content: flex-start;
  padding-bottom: 10px;
}

.form-contacts__fieldset:nth-child(3) .form-contacts__input {
  width: 46px;
  height: 46px;

  margin-right: 27px;
}

.form-contacts__fieldset:nth-child(3) .form-contacts__label {
  margin-left: 77px;
  margin-top: 3px;

  font-weight: bold;
  text-transform: none;
  font-size: 18px;
  line-height: 55px;
}

.form-contacts__fieldset:nth-child(4) .form-contacts__title {
  padding-bottom: 15px;
}

.form-contacts__fieldset:nth-child(4) .form-contacts__input {
  width: 46px;
  height: 46px;

  margin-right: 29px;
}

.form-contacts__fieldset:nth-child(4) .form-contacts__label {
  font-weight: bold;
  text-transform: none;
  font-size: 18px;
  line-height: 60px;
  margin-left: 77px;
}

.form-contacts__fieldset:nth-child(5) .form-contacts__title {
  padding-top: 7px;
}

.form-contacts__remark {
  display: none;
}

.form-contacts input[type="radio"],
.form-contacts__fieldset input[type="checkbox"] {
  .visually-hidden();
}

input[type="radio"] + .form-contacts__label::before {
  content: "";
  position: absolute;
  height: 56px;
  width: 56px;
  margin-left: -77px;
  background-image: url(../img/radio-off.png);
  background-repeat: no-repeat;
  cursor: pointer;
}

input[type="radio"]:checked + .form-contacts__label::before {
  content: "";
  position: absolute;
  height: 56px;
  width: 56px;
  background-image: url(../img/radio-on.png);
  background-repeat: no-repeat;
  cursor: pointer;
}

input[type="checkbox"] + .form-contacts__label::before {
  content: "";
  position: absolute;
  height: 56px;
  width: 56px;
  margin-left: -77px;
  background-image: url(../img/checkbox-off.png);
  background-repeat: no-repeat;
  cursor: pointer;
}

input[type="checkbox"]:checked + .form-contacts__label::before {
  content: "";
  position: absolute;
  height: 56px;
  width: 56px;
  background-image: url(../img/checkbox-on.png);
  background-repeat: no-repeat;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .form-contacts{
    .container ();

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 648px;
    padding: 0px;
    padding-top: 10px;
  }

  .form-contacts__title {
    max-width: 278px;

    font-size: 21px;
  }

  .form-contacts__wrapper {
    .no-margin-padding();
  }

  .form-contacts__label {
    .no-margin-padding();
  }

  .form-contacts__fieldset:nth-child(3) {
    padding: 0px;
    order: 0;
  }

  .form-contacts__fieldset:nth-child(3) .form-contacts__wrapper:nth-child(3) {
    margin-top: 8px;
  }

  .form-contacts__fieldset:nth-child(3) .form-contacts__wrapper:nth-child(4) {
    margin-top: 10px;
  }

  .form-contacts__fieldset:nth-child(3) .form-contacts__title {
    margin-bottom: 35px;
  }

  .form-contacts__fieldset:nth-child(1) {
    padding: 0px;
    order: 1;
  }

  .form-contacts__fieldset:nth-child(1) .form-contacts__wrapper {
    margin-left: 85px;
  }

  .form-contacts__fieldset:nth-child(1) .form-contacts__wrapper:nth-child(3) {
    margin-top: 18px;
  }

  .form-contacts__fieldset:nth-child(1) .form-contacts__wrapper:nth-child(4) {
    margin-top: 18px;
  }

  .form-contacts__fieldset:nth-child(1) .form-contacts__title {
    margin-left: 98px;
    margin-bottom: 37px;
    text-align: left;
  }

  .form-contacts__input--name {
    width: 215px;
    margin-bottom: 2px;
  }

  .form-contacts__fieldset:nth-child(1) .form-contacts__input {
    padding-left: 13px;
    box-sizing: border-box;
  }

  .form-contacts__fieldset:nth-child(1) .form-contacts__label {
    margin-left: 15px;
  }

  .form-contacts__fieldset:nth-child(2) {
    display: block;
    width: 648px;

    padding-bottom: 2px;
    order: 2;
  }

  .form-contacts__fieldset:nth-child(2) .form-contacts__wrapper-outside {
    .no-margin-padding();
  }

  .form-contacts__fieldset:nth-child(2) .form-contacts__wrapper {
    width: 648px;
    height: 58px;
    margin-top: 5px;
    margin-left: 0px;
  }

  .form-contacts__fieldset:nth-child(2) .form-contacts__wrapper:nth-child(2) {
    margin-bottom: -2px;
    outline: 1px solid red;
  }

  .form-contacts__fieldset:nth-child(2) .form-contacts__title {
    padding-top: 63px;
    padding-bottom: 0px;
    letter-spacing: 0px;
  }

  .form-contacts__label--phone,
  .form-contacts__label--email {
    .no-margin-padding();

    display: block;
    max-width: 250px;

    margin-left: 20px;
    padding-top: 28px;
    padding-bottom: 5px;
    text-align: left;
    line-height: 20px;
  }

  .form-contacts__input--phone,
  .form-contacts__input--email {
    width: 590px;
    padding-left: 10px;
    box-sizing: border-box;
  }

  .form-contacts__icon{
    width: 58px;
  }

  .form-contacts__fieldset:nth-child(4) .form-contacts__wrapper-outside {
    .container ();

    display: flex;
    flex-wrap: wrap;
    width: 464px;
  }

  .form-contacts__fieldset:nth-child(4) .form-contacts__wrapper {
    width: 205px;
  }

  .form-contacts__fieldset:nth-child(4) .form-contacts__wrapper:nth-child(4) .form-contacts__label {
   outline: 1px solid red;
   .no-margin-padding();
   margin-left: 83px;
  }

  .form-contacts__fieldset:nth-child(4) .form-contacts__wrapper:nth-child(odd) {
    margin-right: 54px;
  }

  .form-contacts__fieldset:nth-child(4) {
    display: block;
    width: 648px;

    padding: 0px;

    order: 3;
  }

  .form-contacts__fieldset:nth-child(4) .form-contacts__title {
    .no-margin-padding();

    padding-top: 58px;
    padding-bottom: 40px;
  }

  .form-contacts__fieldset:nth-child(4) .form-contacts__wrapper:nth-child(1) {
    margin-bottom: 28px;
  }

  .form-contacts__fieldset:nth-child(5) {
    .no-margin-padding();

    display: block;
    width: 648px;

    order: 4;
  }

  .form-contacts__fieldset:nth-child(5) .form-contacts__title {
    .no-margin-padding();

    padding-top: 65px;
    padding-bottom: 60px;

    font-size: 21px;
  }

  .form-contacts__text {
    .no-margin-padding();

    width: 648px;
    min-height: 150px;
    padding-top: 14px;
    padding-left: 5px;
  }

  .form-contacts__text::placeholder {
    letter-spacing: -0.4px;
    font-size: 18px;
  }

  .form-contacts>.form-contacts__wrapper {
    display: flex;
    align-items: center;

    width: 648px;
    min-height: 58px;
    margin-top: 58px;

    order: 5;
  }

  .form-contacts__button {
    .no-margin-padding();

    width: 324px;

    padding-right: 10px;
  }

  .form-contacts__remark {
    display: block;
  }

  .form-contacts__fieldset:nth-child(4) .form-contacts__label {
    margin-left: 84px;
  }

  input[type="checkbox"] + .form-contacts__label::before {
    margin-left: -84px;
  }
}

@media (min-width: @desktop-width) {
  .form-contacts{
    width: 951px;
  }

  .form-contacts__wrapper {
    width: 400px;
  }

  .form-contacts__title {
    padding-bottom: 20px;
  }

  .form-contacts__fieldset:nth-child(1) {
    margin: 0px;
  }

  .form-contacts__fieldset:nth-child(1) .form-contacts__title {
    margin-left: 85px;
  }

  .form-contacts__fieldset:nth-child(1) .form-contacts__label {
    margin-left: 5px;
  }

  .form-contacts__fieldset:nth-child(3) {
    margin: 0px;
  }

  .form-contacts__fieldset:nth-child(3) .form-contacts__title {
    padding-left: 25px;
  }

  .form-contacts__input {
    width: 312px;
  }

  .form-contacts__input--name {
    width: 347px;
  }

  .form-contacts__fieldset:nth-child(2) {
    display: flex;
    width: 951px;
       outline: 1px solid red;
  }

  .form-contacts__fieldset:nth-child(2) .form-contacts__wrapper {
    width: 315px;
  }

  .form-contacts__label--phone {
    .no-margin-padding ();
    margin-left: -5px;
    margin-right: 21px;

    line-height: 65px;
  }

  .form-contacts__label--email {
    .no-margin-padding ();
    width: 159px;
    margin-right: 23px;
    margin-left: 79px;

    line-height: 65px;
  }

  .form-contacts__input--phone {
    width: 256px;
    padding-left: 10px;
  }

  .form-contacts__input--email {
    width: 248px;
    padding-left: 3px;
  }

  .form-contacts__icon--phone {
    width: 58px;
  }

  .form-contacts__icon--email {
    width: 55px;
  }

  .form-contacts__fieldset:nth-child(2) .form-contacts__icon--email::before {
    width: 16px;
    height: 15px;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -5px;
  }

  .form-contacts__fieldset:nth-child(2) .form-contacts__input:placeholder {
    font-size: 17px;
  }

  .form-contacts__fieldset:nth-child(2) .form-contacts__wrapper-outside {
    display: flex;
    width: 951px;
    align-items: top;
  }

  .form-contacts__label-phone {
    .visually-hidden();
  }

   .form-contacts__fieldset:nth-child(2) .form-contacts__title {
    padding-top: 62px;
    padding-bottom: 70px;
  }

  .form-contacts__fieldset:nth-child(4) .form-contacts__title {
    padding-top: 48px;
    padding-bottom: 40px;
  }

  .form-contacts__fieldset:nth-child(4) .form-contacts__wrapper-outside {
    display: flex;
    width: 951px;
  }

  .form-contacts__fieldset:nth-child(4) .form-contacts__wrapper:nth-child(4n-3) {
    margin-right: 50px;
  }

  .form-contacts__fieldset:nth-child(4) .form-contacts__wrapper:nth-child(4n-2) {
    margin-right: 55px;
  }

  .form-contacts__fieldset:nth-child(4) .form-contacts__wrapper:nth-child(4n-1) {
    margin-right: 26px;
  }

  .form-contacts__fieldset:nth-child(4) .form-contacts__wrapper:nth-child(4n) {
    margin-right: 0px;
  }

  .form-contacts__fieldset:nth-child(4) .form-contacts__label {
    margin-left: 84px;
  }

  input[type="checkbox"]:nth-child(1) + .form-contacts__label{
    margin-left: 77px;
  }

  input[type="checkbox"]:nth-child(1) + .form-contacts__label::before {
    margin-left: -84px;
    width: 52px;
  }

  input[type="checkbox"]:checked + .form-contacts__label::before {
    margin-left: -82px;
    width: 52px;
  }

  .form-contacts__fieldset:nth-child(5) {
    width: 951px;
  }

  .form-contacts > .form-contacts__wrapper {
    .no-margin-padding();
    width: 951px;
    padding-top: 48px;
  }

  .form-contacts__text {
    width: 951px;
    height: 160px;
    padding-left: 0px;
  }

  .form-contacts__text::placeholder {
    letter-spacing: -0.5px;
  }

  .form-contacts__fieldset:nth-child(5) .form-contacts__title {
    padding-top: 35px;
    padding-bottom: 60px;
  }

  .form-contacts__button {
    .no-margin-padding();

    width: 480px;

    margin-left: -5px;
  }

  .form-contacts__remark {
    display: block;
    padding-top: 4px;
    margin-right: -5px;
  }
}
