.gallery {
  .no-margin-padding();
}

.gallery__wrapper {
  .container ();

  max-width: 280px;
  padding-bottom: 23px;

  text-align: left;
}

.gallery__likes-wrapper {
  display: flex;
}

.gallery__title {
  .no-margin-padding();

  padding-top: 22px;

  font-size: 14px;
}

.gallery__author {
  padding-bottom: 11px;
  font-style: normal;
  text-transform: none;
}

.gallery__likes {
  .no-margin-padding();

  font-weight: bold;
}

.gallery__button {
  .visually-hidden ();
}
