.gallery {
  .no-margin-padding();
}

.gallery__title {
  .no-margin-padding();
  font-size: 14px;
}

.page-main__description {
  font-size: 18px;
}

.gallery__author {
  font-style: normal;
  text-transform: none;
}

.gallery__likes {
  font-weight: bold;
  .no-margin-padding();
}
