.main-nav__list--open {
  background-color: white;
}

.main-nav__list--open::before {
  background-image: url(../img/logo-sedona-mobile.svg);
}

.main-nav__toggle {
  min-height: 55px;
  order: 2;
  outline: 1px solid yellow;
}
