.main-nav__toggle {
  .visually-hidden ();
}

.main-nav__toggle-wrapper {
  .no-margin-padding();

  display: block;
  min-height: 55px;
  order: 2;
  background-color: white;
}

.main-nav__list {
  order: 1;
}
