.page-footer {
  .container();

  width: 320px;
  margin-top: 10px;
}

.page-footer__hashtag {
  .no-margin-padding();
  .container();

  width: 140px;

  padding-top: 25px;
  padding-bottom: 35px;

  font-size: 21px;
  font-weight: bold;
}

.page-footer__wrapper {
  .no-margin-padding();
  .container();

  display: flex;
  position: relative;
  width: 129px;
}

.page-footer__copyright {
  .no-margin-padding();

  width: 95px;
  margin-left: -3px;
  letter-spacing: 0.4px;
}

.page-footer__icon {
  .no-margin-padding();

  position: absolute;
  width: 40px;
  height: 50px;

  top: 0%;
  left: 100%;

  margin-left: -37px;
  margin-top: -10px;
}

.page-footer__icon:hover path {
  fill: @light-grey-blue;
}

.page-footer__icon:active path,
.page-footer__icon:focus path {
  fill: rgba(0, 0, 0, 0.3);
}

.page-footer--form {
  margin-top: 18px;
}

.page-footer--photo {
  margin-top: 118px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    align-items: center;

    width: 648px;
    min-height: 120px;
    padding-top: 0px;
    margin-top: 0px;
  }

  .page-footer--photo {
    margin-top: 40px;
  }

  .page-footer--form {
    margin-top: 60px;
  }

  .page-footer__hashtag {
    width: 140px;
    margin-right: 110px;
    margin-top: 10px;
    margin-left: -3px;
  }

  .page-footer__copyright {
   margin-left: 0px;
  }

  .page-footer__icon {
    margin-left: -32px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: 960px;
    height: 120px;
  }

  .page-footer--photo {
    margin-top: 87px;
  }

  .page-footer--form {
    width: 960px;
    min-height: 120px;

    margin-top: 65px;
  }

  .page-footer__hashtag {
    margin-right: 265px;
  }
}
