.page-footer {
  width: 320px;
  margin: 0 auto;
}

.page-footer__hashtag {
  .no-margin-padding();

  padding-top: 27px;
  padding-bottom: 41px;

  font-size: 21px;
  font-weight: bold;
}

.page-footer__copyright {
  .no-margin-padding();

  margin-right: 40px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    align-items: center;

    width: 648px;
    min-height: 120px;

    margin-top: 61px;
  }

  .page-footer__hashtag {
    margin-right: 112px;
  }
}
