.presentation__title {
  .no-margin-padding();

  padding-top: 39px;
  padding-bottom: 19px;

  font-size: 18px;
}

.presentation__picture {
  .no-margin-padding();

  width: 320px;
  height: 200px;
}

.presentation__image {
  position: relative;
  outline: 1px solid yellow;
}

.presentation__range {
  position: absolute;
  width: 280px;
  height: 45px;

  left: 50%;
  margin-left: -140px;
  margin-top: -53px;

  opacity: 0.6;
  background-color: black;
}

.presentation__controls {
  .no-margin-padding();

  width: 280px;
  height: 66px;

  margin: 0 auto;
  background-color: lightgrey;

}

.presentation__description {
  .no-margin-padding();

  padding-left: 43px;
  padding-right: 41px;
  padding-bottom: 40px;

  font-size: 14px;
}
