.site-list__item {
  background-color: @light-grey-blue;
}

.site-list {
  .no-margin-padding();
}

.site-list__item {
  min-height: 55px;
  box-shadow: 0px 1px 0px 0px rgba(1, 1, 1, 0.2);
  box-sizing: border-box;
}

.site-list__link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  line-height: 55px;
  font-weight: bold;
}

@media (min-width: @tablet-width) {
  .site-list__item {
    width: 25%;

    background-color: white;
  }

  .site-list__link {
    display: block;
    width: 100%;
    min-height: 56px;

    color: black;
    outline: 1px solid yellow;
  }


}
