.socials {
  .no-margin-padding();

  display: flex;
  margin-left: 84px;
  margin-bottom: 51px;
}

.socials__item {
  width: 47px;
  height: 48px;
  margin-right: 6px;

  background-color: lightgrey;
}

@media (min-width: @tablet-width) {
  .socials {
    margin:0px;
    margin-right: 120px;
  }
}
