.no-margin-padding() {
  margin: 0;
  padding: 0;
  list-style: none;
}

.font () {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  line-height: 26px;
  font-weight: normal;
}

.font-button () {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  line-height: 26px;
  font-weight: bold;
  color: white;
}

.visually-hidden () {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.container () {
  margin: 0 auto;
}

.button-reset() {
   padding: 0;
   border: none;
   font: inherit;
   color: inherit;
   background-color: transparent;
   cursor: pointer;
}

.modal() {
  display: none;
  position: fixed;
  background-color: white;
  z-index: 1000;
}

.modal-show {
  display: block;
}